@model Suket.Models.Adoption

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Adoption</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdoptionId" />
            <div class="form-group">
                <label asp-for="UserAccountId" class="control-label"></label>
                <select asp-for="UserAccountId" class="form-control" asp-items="ViewBag.UserAccountId"></select>
                <span asp-validation-for="UserAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostId" class="control-label"></label>
                <select asp-for="PostId" class="form-control" asp-items="ViewBag.PostId"></select>
                <span asp-validation-for="PostId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

