@model int

@if (Model > 0)
{
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle fs-6">
        <span class="visually-hidden">New alerts</span>
    </span>
}
