@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    パスワードを変更しました。ここをクリックして<a asp-page="./Login">log in</a>してください。
</p>
