@{
    ViewData["Title"] = "メンテナンス中";
}


<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container mt-5 text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <p class="lead">現在、ウェブサイトはメンテナンスのため利用できません。お客様には大変ご迷惑をおかけしますが、しばらくしてから再度アクセスしてください。</p>
        <hr class="my-4">
        <!--<p>メンテナンスは数時間以内に終了する予定です。それまでの間、何かご不明な点がございましたら、お気軽にお問い合わせください。</p>-->
        <!--
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="mailto:support@example.com" role="button">お問い合わせ</a>
        </p>
        -->
    </div>
</body>
