@{
    ViewData["Title"] = "特定商取引法に基づく表記";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="header-container">
        <span class="back-arrow btn-primary mb-2" onclick="goBackOrHome()" title="back">
            <span class="material-symbols-outlined">
                arrow_back
            </span>
        </span>
    <h2 class="text-primary w-75 ms-2" style="text-align:center;"><strong>特定商取引法に基づく表記</strong></h2>
    </div>
    <strong>ウェブサービス提供者</strong>
    <p>ロードミント株式会社（以下、「当社」といいます。）</p>

    <strong>代表者</strong>
    <p>江原 大智</p>

    <strong>所在地</strong>
    <p>〒262-0019 千葉県千葉市花見川区朝日ケ丘3-28-26</p>

    <strong>販売価格</strong>
    <p>採用者には、募集者から採用者へ支払われる報酬の10％（税込）の手数料（利用手数料6.4％＋決済手数料3.6％）が発生します。</p>

    <strong>支払い方法について</strong>
    <p>クレジットカード（VISA/MasterCard/American Express/Diners Club/JCB）でのお支払いが可能です。</p>

    <strong>支払い時期</strong>
    <p>応募者を採用する際に、カード決済が行われたタイミングで課金が発生いたします。</p>

    <strong>商品の提供時期</strong>
    <p>応募者一覧ページにて採用ボタンが押され、カード決済が行われた時点でサービスが利用開始となります。</p>

    <strong>キャンセル時の対応</strong>
    <p>募集者はPostを中止・キャンセルすることができます。キャンセルが、開催日時の5日前までで決済の100%、2日前までで80%、2日以内だと50%の返金を行います。</p>
    <ul>
        <li>支払い方式が「参加費」の場合</li>
        応募したユーザーに参加費の全額を返金します。
        <li>支払い方式が「報酬」の場合</li>
        募集したユーザーに、開催日時の5日前までで決済の100%、2日前までで80%、2日以内だと50%の返金を行います。
    </ul>
    <strong>個人情報の取扱いについて</strong>
    <p>個人情報の取扱いに関しては、<a href="../Home/Privacy">プライバシーポリシー</a>をご参照ください。</p>
</body>