@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

@{
    var isSignedIn = SignInManager.IsSignedIn(User);
    var isAdmin = false;
    if (isSignedIn)
    {
        var user = await UserManager.GetUserAsync(User);
        isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
    }
}

<!DOCTYPE html>
<style>
    .footer a {
        text-decoration: none;
        color: #333; 
    }

        .footer a:hover {
            text-decoration: underline;
        }
</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mint SPORTS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Suket.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                
                <a class="navbar-brand ff-title" style="color: #5985E1;" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo_name.jpg" width="230" height="35">
                </a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="Index">Post</a>
                        </li>
                        @if (isSignedIn)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="MySubscribedPosts">My応募</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="MyPosts">My募集</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Reviews" asp-action="ReviewablePosts">レビュー</a>
                            </li>
                        }
                        @if (isAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a>
                            </li>
                        }    
                        <li class="nav-item">
                            <a class="nav-link text-white btn btn-primary" asp-area="" asp-controller="Posts" asp-action="Create" style="margin-left:10px">Create Post</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <!-- About section -->
                <div class="col-md-6 col-sm-12">
                    <br />
                    from
                    <a class="navbar-brand ff-title" style="color: #5985E1; margin-left:20px;" href="https://roadmint.co.jp">
                        <img src="~/img/roadmint_yoko.png" width="150" height="100">
                    </a>
                </div>

                <!-- Legal section -->
                <div class="col-md-6 col-sm-12">
                    <p style="padding:0;margin:0;"><a asp-controller="Home" asp-action="Tos">利用規約</a></p>
                    <p style="padding:0;margin:0;"><a asp-controller="Home" asp-action="Tokutei">特定商取引に基づく表記</a></p>
                    <p style ="padding:0;margin:0;"><a asp-controller="Home" asp-action="Privacy">プライバシーポリシー</a></p>
                    <p style="padding:0;margin:0;"><a asp-controller="Contacts" asp-action="Create">お問い合わせ</a></p>
                    
                </div>
            </div>
        </div>
        <div style="text-align:center;">
            &copy; 2023 - Mint SPORTS from RoadMint Inc.
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
