@using Microsoft.AspNetCore.Identity

@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var displayName = user?.NickName ?? User.Identity?.Name;
}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item d-none d-md-block">
            <a class="nav-link text-dark" style="align-items: center; " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <span class="material-symbols-outlined" style="font-size:26px;align-items: center; ">
                account_circle
            </span>
        </a>
    </li>


    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark btn btn-outline-secondary" asp-area="Identity" asp-page="/Account/Login" style="margin-right:10px;">Login</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-white btn btn-primary" asp-area="Identity" asp-page="/Account/Register" style="margin-right:10px;">Sign up</a>
    </li>
}
</ul>
