body {
}

.subscription-button.liked {
    background-color: red;
    color:black;
}

.subscription-button.liked-adopted {
    background-color: yellow;
    color:black;
}

.bg-yellow {
    background-color: yellow !important;
}

.bg-red {
    background-color: red !important;
}
